@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 30 25% 20%;

    --card: 60 56% 96%;
    --card-foreground: 30 25% 20%;

    --popover: 60 56% 96%;
    --popover-foreground: 30 25% 20%;

    --primary: 42 100% 50%;
    --primary-foreground: 30 50% 10%;

    --secondary: 60 30% 85%;
    --secondary-foreground: 30 25% 20%;

    --muted: 60 30% 88%;
    --muted-foreground: 30 20% 45%;

    --accent: 29 29% 50%;
    --accent-foreground: 29 30% 95%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;

    --border: 60 20% 80%;
    --input: 60 20% 85%;
    --ring: 42 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 30 15% 10%;
    --foreground: 60 30% 92%;

    --card: 30 15% 12%;
    --card-foreground: 60 30% 92%;

    --popover: 30 15% 10%;
    --popover-foreground: 60 30% 92%;

    --primary: 42 100% 50%;
    --primary-foreground: 30 50% 10%;
    
    --secondary: 30 15% 20%;
    --secondary-foreground: 60 30% 92%;

    --muted: 30 15% 20%;
    --muted-foreground: 60 30% 70%;
    
    --accent: 29 29% 50%;
    --accent-foreground: 29 30% 95%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 30 15% 25%;
    --input: 30 15% 25%;
    --ring: 42 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
